<mat-sidenav-container class="container">
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [(opened)]="isMenuOpen"
    class="sidebar"
    [ngClass]="{ 'menu-closed': !isMenuOpen }"
    (mouseenter)="onHoverMenu(true)"
    (mouseleave)="onHoverMenu(false)">

    <div class="menu-header">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon class="material-symbols-outlined">menu</mat-icon>
      </button>
      <h2 *ngIf="isMenuOpen">Menu</h2>
    </div>

    <nav>
      <ul>
        <li>
          <span class="menu-item-parent" (click)="toggleConfiguracoesSubmenu()">
            <mat-icon class="material-symbols-outlined">settings</mat-icon>
            <span *ngIf="isMenuOpen">Configurações</span>
            <span class="arrow" [class.rotated]="isConfiguracoesSubmenuOpen" *ngIf="isMenuOpen">▼</span>
          </span>
          <ul *ngIf="isConfiguracoesSubmenuOpen" class="submenu">
            <li>
              <a routerLink="/configuracoes/parametrizacao" routerLinkActive="active-link">
                Parametrização
              </a>
            </li>
          </ul>
        </li>

        <li>
          <span class="menu-item-parent" (click)="toggleProcessamentoSubmenu()">
            <mat-icon class="material-symbols-outlined">construction</mat-icon>
            <span *ngIf="isMenuOpen">Processamento</span>
            <span class="arrow" [class.rotated]="isProcessamentoSubmenuOpen" *ngIf="isMenuOpen">▼</span>
          </span>
          <ul *ngIf="isProcessamentoSubmenuOpen" class="submenu">
            <li>
              <a routerLink="/processamento/clonar-tasks" routerLinkActive="active-link">
                Clonar Tasks
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="theme-toggle-container">
      <button mat-raised-button color="primary" (click)="toggleTheme()">
        <mat-icon class="material-symbols-outlined">contrast</mat-icon> 
        <span *ngIf="isMenuOpen">Alternar Tema</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon class="material-symbols-outlined">menu</mat-icon>
      </button>
      <span>Sistema Integrador de Tasks do Azure DevOps</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>